page-login {
    ion-content {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f1e767+0,feb645+100;Yellow+3D */
        background: #f1e767;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f1e767 0%, #feb645 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f1e767 0%, #feb645 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f1e767 0%, #feb645 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    img {
        width: 50px;
    }
    h3 {
        color: white;
    }
    .top-20 {
        margin-top: 20%;
    }
    .top-5 {
        margin-top: 5%;
    }
}